/* 
    Document   : newcss
    Created on : Nov 10, 2012, 6:45:00 PM
    Author     : HARRY
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.menu{
    resize: none;
    
    width: 1040px;
    margin-left: 305px;
    margin-top: -35px;
}
.itemmenu{
    text-decoration: none;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
}
.itemmenu:hover{
    color: green;
}

#logo{
    margin-left: 50px;
}
body {
        margin: 0px;
        padding: 0;
        color: #616161;
}

h1, h2, h3 {
        margin-top: 0;
}

h1 {
        font-size: 1.6em;
        font-weight: normal;
}

h2 {
        font-size: 1.6em;
}

h3 {
        font-size: 1em;
        margin-top:20px;
}

ul {
}

/* Header */
#header {
    padding: 4px 0px;
    height: 75px;
    position: relative;
}

#logo {
    text-align: left;
}

/* Menu */
#menu {
    position: absolute;
    top:25px;
    right:15px;
        padding: 0;
        height: 59px;
    overflow: hidden;
}

#menu ul {
        margin: 0;
        list-style: none;
}

#menu li {
        display: inline;
}

#menu li a {
        display: block;
        float: left;
        height: 42px;
        margin: 0;
        padding: 18px 40px 0 40px;
        text-decoration: none;
        font-size: 20px;
}

#menu li a:hover {
        text-decoration: underline;
}

/* Page */
#page {
        padding: 10px 0px;
        background: #FFFFFF;
}

/* Content */
#content {
        width: 70%;
    float:left;
}

.post {
        padding-bottom: 15px;
}

.post h1 {
        font-weight: normal;
}

.title {
        height: 30px;
        margin-left: 10px;
        padding: 8px 0 0 20px;
}

.title a {
        border-bottom: none;
        color: #FFFFFF;
}

.title a:hover {
        border-bottom: 1px dotted #000000;
}

.submenu-title {
    padding: 4px 10px;
}

.submenu-content {
    text-align:center;
}


#sidebar {
        float: left;
        width: 25%;
        padding: 0 10px;
        margin-left: -1px;
    overflow: hidden;
}

#sidebar a.ui-state-hover,
#sidebar a.ui-state-highlight {
    border:0 none;
    text-decoration: none;
    font-weight: normal;
}

#sidebar table {
    width: 100%;
}

#sidebar table td {
    vertical-align: top;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    list-style-type: none;
    padding: 1px;
}

/* Footer */
#footer {
        height: 70px;
        margin: 0 auto;
        padding: 0 20px;
    font-size: 14px;
}

#footer p {
        margin: 0;
        padding: 25px 0 0 0;
        text-align: center;
}

#footer a {
}

#footer .link {
        float: right;
}

#footer .copyright {
        float: left;
}


.dp-xml {
    width:1000px;
}

.ui-themeswitcher a.ui-selectonemenu-label-container {
    text-decoration: none !important;
}

.ui-widget {
    font-size: 12px !important;
}
